.container{
    width:100%;
}
button{
    background-color:Red;
    color:white;
    padding:10px;
    border:none;
    outline:none;
    text-align: center;
}
th, td{
    width:350px;
    color:white;
    background-color: black;
    padding:10px;
    text-align: center;
}