*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.container{
    margin:0;
    width:90%;
    min-height:650px;
    background-color:grey;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-end;
}
.box{
    background-color:black;
    width:28%;
    height:250px;
    color:white;
    border:1px solid white;
    margin:10px;
}
/*column ozelliyi verildikde align-items ufuqi istiqametde tesir edir, justify-content ise saquli istiqametde*/