*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height:500px;
    width:100%;
    background-color:rgb(69, 33, 17);
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:center;
}
.box{
    width:20%;
    height:150px;
    color:white;
    border:1px solid white;
    opacity:1;
    margin:20px;
    transition:0.5s;
    transform:scale(1);
}
.box:hover{
    opacity:0.5;
    transform:scale(1.2);
}
.box:nth-child(1){
    background-color:red;
}
.box:nth-child(2){
    background-color:rgb(54, 34, 34);
}
.box:nth-child(3){
    background-color:rgb(138, 108, 108);
}