p{
    font-size:1.5em;
    line-height:2.5em;
    font-style:italic;
    color:rgb(93, 43, 43);
}
p::first-letter{
    font-size:2em;
    color:rgb(167, 79, 79);
    font-weight:bold;
}
p::first-line{
    background-color:rgb(172, 125, 125);
}
p::before{
    content:"Bu dersde pseudo elementlere nezer salinacaq."
}
p::after{
    content:"first-letter, first-line, before, after kimi pseudo elementlerle tanis olduq"
}